#container {
  margin: 30px auto auto auto;
  width:85%;
  outline: 1px black solid;
  box-shadow:  5px 5px;
  text-align: center;
  font-size: 20px;
}

#movies {
  height: 100px;
  outline: 2px solid black;
}

form{
  margin-top:50px;
}

img {
  max-width: 100px;
  transition: 0.2s;
}


img:hover {
  transform: scale(1.08)
}

.textfield {
  text-align: center;
  margin: auto;
  float: center;
  width: 60%;
  background-color: beige;
}

header {
  margin-top: 30px;
  text-align: center;
}

#movielist1 {
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
}


form {
  margin-bottom: 20px;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

input {
  text-align: center;
}

#tooltip{
  margin: 20px auto auto auto;
  /* height:150px; */
  /* background-color: beige; */
  width:80%;
  font-size: 1.2rem;
}

/* mobile */
@media only screen and (max-width: 600px) {
  #container {
    font-size: 1.5em;
  }
  img {
    max-width: 160px;
  }

  #tooltip {
    width: 90%
  }
}


#close-alert {
  /* make close button far right  */
  margin-left: auto;
}


.posterContainer {
  display: inline-block;
  overflow: hidden;
}