html {
  background: #445bf5;
}

.primarycolor {
  background: #445bf5;
}

img {
  transition: 0.1s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

.mycontainer {
  margin: auto;
  width: 80%;
}

.centertext {
  text-align: center;
}

.marginauto {
  margin: auto;
}

.movielistinput {
  width: 40%;
  min-width: 270px;
}

@media only screen and (max-width: 600px) {
  .movieListInput {
    width: 80%;
  }
}

.registerloginbox {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.movierating {
  position: absolute;
  top: 0px;
  font-weight: 600;
  background-color: white;
  outline: 1px solid black;
}

.magnifying {
  height: 20px;
  padding-right: 5px;
}

.pagination {
  padding: 1rem 0 2rem;
  font-size: 1.2rem;
  display: flex;
  margin: 0 100px 0 100px;
}

.custombtn:hover {
  transform: scale(1.05);
  transition: 0.3s
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.addmovieinput {
  min-width: 250px;
}

.customcontainer {
  width: 75%;

}

/* Mobile breakpoint */
@media only screen and (max-width:600px){
  .customcontainer {
    width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  }

  .registerloginbox {
    width: auto;
  }

  .pagination {
    margin: 0 50px 0 50px;
  }

  .movielistinput {
    min-width: 220px;
  }

  .addmovieinput {
    min-width: 200px
  }
}
