/* @tailwind base;
@tailwind components;
@tailwind utilities; */

img {
  transition: 0.1s ease-in-out;
}


img:hover{
  transform:scale(1.1);

}

.mycontainer {
  margin: auto;
  width: 80%;
}

.centertext {
  text-align: center;
}

.marginauto {
  margin: auto;
}

.movieListInput {
  width: 40%;
  /* min-width: 170px; */
}

@media only screen and (max-width: 600px) {
  .movieListInput {
    width: 80%;
  }
}
